<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magegeeks" translate="label" sortOrder="1">
            <label>Magegeeks Extensions</label>
        </tab>
        <section id="hidepriceandcartbutton" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hide Price and Add to Cart Extension</label>
            <tab>magegeeks</tab>
            <resource>Magegeeks_Hidepriceandcartbutton::config</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration </label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magegeeks\Hidepriceandcartbutton\Model\Config\Source\Custom</source_model>
                </field>
                <field id="addtocarttext" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add to Cart Text</label>
                </field>
                <field id="pricetext" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price Text</label>
                </field>
            </group>
        </section>
    </system>
</config>